-r requirements.txt

# development
jupyter

# documentation
sphinx
numpydoc
sphinx-mdinclude
sphinx_toolbox

# flake8 checks
flake8
flake8-pyproject

# testing
pytest

# deployment
build
twine

# editable
-e .