-r requirements.txt

# for auto type handling
pandas
xarray

# speedup
numba

# development
jupyter
jupyterlab

# pre-commit checks and formatting
pre-commit

# documentation
sphinx
numpydoc
sphinx-mdinclude
sphinx_toolbox

# flake8 checks
flake8
flake8-pyproject
black

# testing
pytest

# deployment
build
twine

# interplot itself editable
-e .